################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GDGRAP1/v17/Browse.VC.opendb
